@media screen and (min-width: 700px) {
    p, li, a{
        font-size: 13px;
    }
    body {
        grid-template-rows: 100px 540px 350px 250px;
    }

    main {
        grid-template-columns: 50% 50%;
        grid-template-rows: 80px 460px;
        grid-template-areas: "title title""about location";
    }

    #location {
        padding: 30px 10px 0px 50px;
    }

    #location p {
        width: 300px;
    }
    #about h4, #about p, #about li{
        width: 350px;
        margin: 0 auto;
    }
    footer{
        justify-content: space-around;
    }
}